*{
    box-sizing: border-box;
}

body{
    height: 100%;
    color: white;
    background-color: black;
}

#header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    z-index: -1;
    background-color: black;
    box-shadow: 0px -2px 50px aqua, 0px 2px 30px #e9047e;
    filter: saturate(200%);
}

#home{
    color: white;
    width: max-content;
    height: max-content;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

#chat{
    color: white;
    width: max-content;
    height: max-content;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

#profile{
    color: white;
    width: max-content;
    height: max-content;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

#search{
    color: white;
    width: max-content;
    height: max-content;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}