*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    color: white;
    background-color: rgb(21,19,16);
    display: flex;
    justify-content: center;
}

#header{
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    align-items: center;
    background-color: black;
}

#home,#chat,#profile,#search{
    color: white;
    width: max-content;
    height: max-content;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
}

#home:hover,#chat:hover,#profile:hover,#search:hover{
    cursor:pointer;
}