*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fill{
    background-image: linear-gradient(to bottom right,red,purple,orange);
    filter: opacity(0.3);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#form{
    width: 35%;
    height: 85%;
    min-height: 400px;
    max-width: 500px;
    min-width: 400px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    align-items:center;
    border-radius: 20px;
    transition: all 100ms;
    flex-wrap: nowrap;
    position: relative;
    background-color: rgb(238, 236, 236);
}

input{
    height: 50px;
    width: 60%;
    min-height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    transition: all 200ms;
}

#submit{
    text-align: center;
    background-color: rgb(88, 161, 250);
    font-size: 30px;
    font-family: "Clarkson", Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

input::placeholder{
    color: grey;
    font-family: "Clarkson", Helvetica, sans-serif;
}

#u{
    font-size: 20px ;
}

#u a{
    text-decoration: none;
    color: violet;
}

#login{
    font-size: 50px;
    margin-top: -50px;
}