{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
    <script src="{% static 'js/intro.js' %}"></script>
    <title> Thunder Talks </title>
</head>
<body>
    <div id="contain">
        <div id="introduction">ThunderTaks</div>
    </div>
    <div id="url" hidden data-url="{{ url }}"></div>
</body>
</html>