{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
    <form action="." method="POST" id="form">
        {% csrf_token %}
        <h1 id="login">Login</h1>
        <input type="text" name="username" placeholder="Username:" id="username">
        <h3 id="h1" hidden>Username not found</h3>
        <input type="password" name="password" id="password" placeholder="Password:">
        <h3 id="h2" hidden>Password incorrect</h3>
        <input type="submit" value="Submit" id="submit">
        <input type="hidden" value="{{csrf_token}}" id="csrf" data-url="{% url 'login' %}">
        <h1 id="u">Did'nt have an account <a href="{% url 'signin' %}">Signin Now</a></h1>
    </form>
</body>
</html>