{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
    <script src="{% static 'js/signin.js' %}"></script>
</head>
<body>
    <div id="fill"></div>
    <form action="." method="POST" id="form">
        {% csrf_token %}
        <h1 id="signin">Signin</h1>
        <input type="text" name="username" placeholder="Username" id="username">
        <h4 hidden id="h1">Username is already taken</h4>
        <input type="email" name="email" placeholder="Email" id="email">
        <h4 hidden id="h2">Email is already registered</h4>

        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Submit" id="submit">
        <input type="hidden" value="{{csrf_token}}" id="csrf" data-url="{% url 'signin' %}">
        <h1 id="u">Already have an account <a href="{% url 'login' %}">Login</a></h1>
    </form>

</body>
</html>